@use "../utils/" as u;

.index__header {
  margin-top: 7.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  @include u.breakpoint("md") {
    margin-top: 5em;
    img {
      width: 60%;
    }
    h1 {
      padding: 0 1em 0 1em;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.productos {
  background-color: u.$c-principal;
  padding: 2em 0 2em 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  &__container {
    padding: 2em 3em 2em 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    @include u.breakpoint("lg") {
      padding: 1em 2em 1em 2em;
    }
    @include u.breakpoint("md") {
      flex-direction: column;
      gap: 3em;
    }
    img {
      width: 30%;
      border-radius: 0.5em;
      @include u.breakpoint("lg") {
        width: 45%;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 1.35em;
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        font-size: 1.25em;
      }
      button {
        background-color: #fff4df;
        padding: 0.5em 1em;
        border: 2px solid black;
        border-radius: 0.25em;
        justify-self: center;
        font-weight: 500;
        width: 100%;
        transition: all 300ms ease-in-out;
        &:active {
          scale: 0.98;
        }
      }
    }
  }
}

.carrito {
  h2 {
    text-align: center;
    margin-bottom: 1em;
    background-color: #ffb74c;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0.25em 0;
  }
  &__container {
    display: flex;
    justify-content: space-evenly;
    @include u.breakpoint("md") {
      flex-direction: column;
      align-items: center;
      gap: 1em;
    }
  }
  header {
    ul {
      background-color: #eee;
      display: flex;
      flex-direction: row;
      padding: 0;
      justify-content: space-around;
      padding: 0.25em 0;
      border-radius: 0.25em;
      li {
        cursor: pointer;
        padding: 0 0.5em;
      }
    }
  }
  &__productos {
    width: 50%;
    @include u.breakpoint("md") {
      width: 90%;
    }
    &__descripcion {
      display: flex;
      gap: 1em;
      align-items: center;
      width: 80%;
      @include u.breakpoint("md") {
        gap: 0.75em;
      }
      img {
        width: 4em;
        height: 4em;
        border-radius: 0.25em;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4 {
          margin-bottom: 0em;
        }
        p {
          margin: 0;
          font-size: 0.8em;
          font-style: italic;
          @include u.breakpoint("md") {
            font-size: 1em;
          }
        }
      }
    }
    &__botonera {
      display: flex;
      align-items: center;
      background-color: #eee;
      height: 2em;
      width: 5em;
      border-radius: 0.25em;
      justify-content: space-between;
      align-items: center;
      &__menos {
        border-right: 1px solid #aaa;
        padding: 0 0.45em;
        cursor: pointer;
        user-select: none;
        transition: all 0.2s ease-in-out;
        &:active {
          color: #aaa;
        }
      }
      &__mas {
        border-left: 1px solid #aaa;
        padding: 0 0.45em;
        cursor: pointer;
        user-select: none;
        transition: all 0.2s ease-in-out;
        &:active {
          color: #aaa;
        }
      }
      &__num {
        padding: 0 0.2em;
      }
    }
    &__container {
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding: 0 1em 0 1em;
      height: 90vh;
      overflow-y: auto;
      @include u.breakpoint("md") {
        padding: 0 0.75em 0 0.75em;
      }
      li {
        display: flex;
        justify-content: space-between;
        gap: 0.5em;
        align-items: center;
      }
    }
  }
  &__resumen {
    width: 40%;
    @include u.breakpoint("md") {
      width: 90%;
    }
    h3 {
      text-align: center;
      margin-bottom: 0.5em;
    }
    header {
      margin-bottom: 0.5em;
      border-bottom: 2px solid #aaa;
      padding: 0;
      ul {
        font-weight: 500;
        background-color: transparent;
        justify-content: space-between;
        li {
          width: max-content;
          &:first-child {
            font-weight: 500;
          }
          &:nth-child(2) {
            padding-right: 1.75em;
          }
        }
      }
    }
    &__productos {
      display: flex;
      flex-direction: column;
      padding: 0 0.5em;
      ul {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.25em;
        li {
          width: 9em;
          text-align: center;
          @include u.breakpoint("md") {
            &:nth-child(2) {
              width: 2em;
            }
          }
          &:first-child {
            text-align: start;
          }
          &:nth-child(3) {
            text-align: end;
          }
        }
      }
      &__subtotal {
        display: flex;
        width: 100%;
        margin-top: 0.5em;
        font-weight: 500;
        gap: 0.9em;
        justify-content: end;
        padding: 0 0.5em;
        @include u.breakpoint("lg") {
          margin-top: 1em;
          margin-bottom: 0.5em;
        }
      }
      &__total {
        display: flex;
        width: 100%;
        margin-top: 0.1em;
        font-weight: 600;
        gap: 1em;
        justify-content: end;
        padding: 0 0.5em;
      }
      &__envio {
        display: flex;
        width: 100%;
        padding: 0 0.5em;
        align-items: center;
        justify-content: space-between;
        @include u.breakpoint("lg") {
          margin-bottom: 0.5em;
        }
        input {
          border: none;
          border: 2px solid #aaa;
          width: 8.25em;
          padding: 0.25em 0.5em;
          border-radius: 0.25em;
          transition: all 300ms ease-in-out;
          @include u.breakpoint("lg") {
            width: 5em;
          }
          @include u.breakpoint("md") {
            width: 8.25em;
          }
          &:focus {
            border: 2px solid #ffb74c;
            outline: none;
          }
        }
        button {
          border: none;
          border: 2px solid #aaa;
          padding: 0.25em 0.5em;
          border-radius: 0.25em;
          transition: all 300ms ease-in-out;
          @include u.breakpoint("lg") {
            padding: 0.25em 0.3em;
          }
          &:active {
            background-color: #ffb74c;
            border: 2px solid black;
            scale: 0.98;
          }
        }
        ul {
          display: flex;
          gap: 0.25em;
          &:nth-child(2) {
            gap: 1em;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.nuevo {
  h4::after {
    content: "¡NUEVO!";
    border: 2px solid black;
    font-weight: 600;
    position: relative;
    bottom: 0.3em;
    margin-left: 0.75em;
    font-size: 0.5em;
    background-color: #ffb74c;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
  }
}

.botones-carrito {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    width: 91%;
    @include u.breakpoint("lg") {
      width: 88%;
    }
  }
}

#pbtn {
  background-color: #ffb74c;
  width: 100%;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  font-weight: 600;
  border: none;
  border: 2px solid black;
  transition: all 300ms ease-in-out;
  &:active {
    scale: 0.98;
  }
}

#vaciar {
  width: 8%;
  background-color: #eee;
  border: 2px solid black;
  border-radius: 0.2em;
  height: 2.15em;
  transition: all 300ms ease-in-out;
  &[data-title]:hover::after {
    content: attr(data-title);
    position: absolute;
    background-color: white;
    border: 2px solid black;
    padding: 0 0.25em;
    border-radius: 0.2em;
    width: max-content;
    margin-top: 0.85em;
    transform: translateX(-83%);
    @include u.breakpoint("md") {
      content: "";
      border: none;
    }
  }
  &:active {
    scale: 0.98;
  }
  svg {
    scale: 1.5;
    display: block;
    margin: auto;
  }
  @include u.breakpoint("lg") {
    width: 11%;
  }
}

.pago {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    padding: 0.25em 0.5em;
    border: 2px solid black;
    background-color: #ffb74c;
    @include u.breakpoint("lg") {
      margin-bottom: 0.5em;
    }
  }
  h3 {
    align-self: flex-end;
    margin-right: 3%;
    display: flex;
    font-size: 1em;
    gap: 0.5em;
    margin-bottom: 1.5em;
    border: 2px solid black;
    padding: 0.25em 0.5em;
    user-select: none;
    border-radius: 0.25em;
    @include u.breakpoint("md") {
      align-self: center;
      margin-right: 0;
    }
    &::after {
      content: "Pago 100% Protegido";
      position: absolute;
      font-size: 0.75em;
      margin-top: 2em;
      margin-left: 0;
      margin-left: 0.6em;
      padding: 0.25em 0.5em;
    }
    svg {
      height: 1em;
    }
  }
  ul {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    @include u.breakpoint("lg") {
      width: 60%;
      margin-top: 0.5em;
      gap: 0.25em;
    }
    @include u.breakpoint("md") {
      width: 90%;
    }
    &:last-child {
      border: none;
      padding: 0;
      align-items: start;
    }
    li {
      &:first-child {
        width: 70%;
      }
      input {
        border-radius: 0.25em;
        height: 2.75em;
        width: 100%;
        resize: none;
        padding: 0em 0.5em;
        border: 2px solid #aaa;
        line-height: 2.11em;
        transition: all 300ms ease-in-out;
        &:focus {
          outline: none;
          border: 2px solid #ffb74c;
        }
        @include u.breakpoint("lg") {
          width: 97%;
        }
        @include u.breakpoint("md") {
          width: 99%;
          padding: 0em 0.5em;
        }
      }
      button {
        background-color: #ffb74c;
        padding: 0.5em 1em;
        font-weight: 600;
        border-radius: 0.25em;
        border: 2px solid black;
        width: max-content;
        transition: all 300ms ease-in-out;
        &:active {
          scale: 0.98;
        }
        @include u.breakpoint("lg") {
          padding: 0.5em 0.75em;
        }
        @include u.breakpoint("md") {
          padding: 0.5em 0.5em;
        }
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      padding: 1em;
      border: 2px solid #aaa;
      align-items: center;
      cursor: pointer;
      font-weight: 500;
      svg {
        scale: 1.2;
        color: #ffb74c;
      }
    }
  }
}

.swal2-modal .swal2-styled:focus {
  -webkit-box-shadow: 0 0 5px 5px #fee9c2;
  box-shadow: 0 0 5px 5px #ffe9c2;
}
