@use "../utils" as u;

.navbar {
  width: 100%;
  top: 0;
  position: sticky;
  padding: 1.1em 1em 1.1em 1em;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
  z-index: 10;
  .navbar-brand {
    font-weight: 600;
  }
  ul {
    display: flex;
    gap: 1em;
    margin: 0;
    align-items: center;
    padding-right: 0.4em;
    justify-content: end;
    @include u.breakpoint("lg") {
      flex-direction: column;
      margin-top: 0.5em;
      padding: 0;
      li {
        margin: 1em 0;
        &:last-child {
          border: none;
          margin-top: 1.5em;
        }
      }
    }
    a {
      text-decoration: none;
      font-size: 1.1em;
      color: black;
      transition: all 150ms ease-in-out;
      &:hover {
        color: u.$c-principal;
      }
      @include u.breakpoint("lg") {
        font-size: 1.3em;
      }
    }
    svg {
      scale: 1.5;
      fill: black;
      margin-left: 0.75em;
      @include u.breakpoint("lg") {
        margin-left: 0;
        scale: 2;
      }
    }
  }
}

.offcanvas-title {
  font-size: 1.5em;
  margin-left: 0.25em;
}

.btn-close {
  scale: 1.2;
  width: 2em;
}

.navbar-toggler {
  border: 2px solid #aaa;
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

#boton-carrito {
  position: absolute;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  line-height: 129%;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  background-color: u.$c-principal;
  border: 2px solid #000;
  margin-top: -1.75em;
  margin-left: 1.4em;
  @include u.breakpoint("lg") {
    margin-left: 0.6em;
    scale: 1.1;
  }
  &:hover {
    color: black;
  }
}

.nav-footer {
  display: none;
  @include u.breakpoint("lg") {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    h4 {
      width: max-content;
      font-size: 1.3em;
      margin-bottom: 0.75em;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start;
      padding: 0;
      gap: 25%;
      li {
        border: none;
        margin: 0;
        &:nth-child(2) {
          margin: 0;
        }
      }
      svg {
        scale: 2;
        border: none;
      }
    }
  }
}
