@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

section {
  margin-top: 8em;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Poppins", sans-serif, "Gill Sans", sans-serif;
  scroll-behavior: smooth;
}
